<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Travel-Pro</title>
        <link rel="shortcut icon" href="/img/icon.png" />

        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Roboto&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">


        <!-- Customized Bootstrap Stylesheet -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>

        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

     

        <!-- Navbar & Hero Start -->
        <div class="container-fluid position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="/" class="navbar-brand p-0">
                    <h1 class="m-0"><i class="fa fa-map-marker-alt me-3"></i>Travel-Pro</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a href="/" class="nav-item nav-link ">Home</a>
                        <a href="/about" class="nav-item nav-link active">About</a>
                        <a href="/services" class="nav-item nav-link">Services</a>
                        <a href="/shipment" class="nav-item nav-link ">Shipment</a>
                       
                        <a href="/contact" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Navbar & Hero End -->

        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4">About Us</h1>
                
            </div>
        </div>
        <!-- Header End -->

         <!-- About Start -->
         <div class="container-fluid about py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5">
                        <div class="h-100" style="border: 50px solid; border-color: transparent #13357B transparent #13357B;">
                            <img src="img/flightAttendance.jfif" class="img-fluid w-100 h-100" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7" style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(img/about-img-1.png);">
                        <h5 class="section-about-title pe-3">About Us</h5>
                        <h1 class="mb-4">Welcome to <span class="text-primary">Travel-pro</span></h1>
                        <p class="mb-4">At Travel-pro, we're thrilled to welcome you to our community of global traders, entrepreneurs, and innovators. As a leading shipping company, we're dedicated to connecting businesses and communities worldwide through fast, secure, and sustainable shipping solutions. Our mission is to make shipping easy, accessible, and reliable, so you can focus on what matters most - growing your business and connecting with your customers.</p>
                        <p class="mb-4">Travel-pro was founded by a team of industry experts who saw an opportunity to revolutionize the shipping industry. We believed that with the right combination of technology, expertise, and customer-centricity, we could make shipping faster, more efficient, and more cost-effective. Today, we're proud to be a global shipping company with a presence in over 100 countries, serving businesses of all sizes and industries.</p>
                        <p class="mb-4">
                            Our mission is to revolutionize the way people travel and move goods. We strive to provide exceptional services, leveraging cutting-edge technology and a customer-centric approach. Whether you're a traveler or a business owner, we're committed to delivering reliable, efficient, and cost-effective solutions that exceed your expectations.

                        </p>
                        
                        <div class="row gy-2 gx-4 mb-4">
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Customer Obsession</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Innovation</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>5 Star Treatment</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Reliability</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Sustainability</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Teamwork</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <!-- Travel Guide Start -->
     
        <!-- Travel Guide End -->

        

       <!-- Footer Start -->
       <div class="container-fluid footer py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="footer-item d-flex flex-column">
                        <h4 class="mb-4 text-white">Get In Touch</h4>
                        <a href="/contact"><i class="fas fa-envelope me-2"></i> Travel-Pro@gmail.com</a>
                        <a href="/contact"><i class="fas fa-phone me-2"></i> +1 (626) 671-6495</a>
                        
                        
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="footer-item d-flex flex-column">
                        <h4 class="mb-4 text-white">Company</h4>
                        <a href="/about"><i class="fas fa-angle-right me-2"></i> About</a>
                        <a href="/shipment"><i class="fas fa-angle-right me-2"></i> Shippment</a>
                        <a href="/services"><i class="fas fa-angle-right me-2"></i> Services</a>
                        <a href="/"><i class="fas fa-angle-right me-2"></i> Home</a>
                        <a href="/contact"><i class="fas fa-angle-right me-2"></i> Order</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="footer-item d-flex flex-column">
                        <h4 class="mb-4 text-white">Support</h4>
                        <a href="/contact"><i class="fas fa-angle-right me-2"></i> Contact us</a>
                        <a href="/contact"><i class="fas fa-angle-right me-2"></i> Send us a Message</a>
                        <a href="/contact"><i class="fas fa-angle-right me-2"></i> Terms of service</a>
                        <a href="/"><i class="fas fa-angle-right me-2"></i> Cookie Privacy</a>
                       
                       
                    </div>
                </div>
               
            </div>
           
        </div>
        <div class="container-fluid"> 
            <p style="color:  white; text-align: center;">Copyright &copy; Travel-Pro Logistics <script>document.write(new Date().getFullYear());</script></p>

        </div>
    </div>


    <!-- Footer End -->
        
       

        <!-- Back to Top -->
        <a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/lightbox/js/lightbox.min.js"></script>
        

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>

</html>