<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Travel-Pro</title>
        <link rel="shortcut icon" href="/img/icon.png" />

        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Roboto&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">


        <!-- Customized Bootstrap Stylesheet -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
        
        <style>
             @media (max-width: 532px) {
    .m-0 {
      font-size: 20px; /* Adjust the font size as needed */
    }
  }
        </style>
    </head>

    <body>

        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

      

        <!-- Navbar & Hero Start -->
        <div class="container-fluid position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="/" class="navbar-brand p-0">
                    <h1 class="m-0"><i class="fa fa-map-marker-alt me-3"></i>Travel-Pro Logistics</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a href="/" class="nav-item nav-link ">Home</a>
                        <a href="/about" class="nav-item nav-link">About</a>
                        <a href="/services" class="nav-item nav-link">Services</a>
                        <a href="/shipment" class="nav-item nav-link active">Shipment</a>
                       
                        <a href="/contact" class="nav-item nav-link">Contact</a>
                    </div>
                    <!-- <a href="" class="btn btn-primary rounded-pill py-2 px-4 ms-lg-4">Book Now</a> -->
                </div>
            </nav>

            <!-- Carousel Start -->
            <div class="carousel-header">
                <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
                    
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img src="img/logImage.jpg" class="img-fluid" alt="Image">
                            <div class="carousel-caption">
                                <div class="p-3" style="max-width: 900px;">
                                    <h4 class="display-2 text-white mb-4">Ship goods from anywhere in the world</h4>
                                    <p style="color:  #13357B; font-weight: bold;" class="">Reliable and Affordable Shipping Services To Give You The Peace Of Mind You Deserve</p>

                                    <p class="mb-5 fs-5"> 
                                    </p>
                                    <div class="container-fluid search-bar position-relative" style="top: -50%; transform: translateY(-50%); margin-top: 100px;">
                                        <div class="container">
                                            <form action="/searchShip" method="post" class="position-relative rounded-pill w-100 mx-auto p-5" style="background: rgba(19, 53, 123, 0.8);">
                                                <input name="itemTicket" class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="Tracking ID ">
                                                <button type="submit" class="btn btn-primary rounded-pill py-2 px-4 position-absolute me-2"  style="top: 50%; right: 46px; transform: translateY(-50%);">Track</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                </div>
            </div>
            <!-- Carousel End -->
        </div>

    <!-- us start here -->

    <!-- us ends here -->
        <!-- Navbar & Hero End -->

        <!-- About Start -->
        <div class="container-fluid about py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5">
                        <div class="h-100" style="border: 50px solid; border-color: transparent #13357B transparent #13357B;">
                            <img src="img/logImagee.jpg" class="img-fluid w-100 h-100" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7" style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(img/about-img-1.png);">
                        <h5 class="section-about-title pe-3">About Us</h5>
                        <h1 class="mb-4">Welcome to <span class="text-primary">Travel-Pro</span> Logistics</h1>
                        <p class="mb-4">At Travel-Pro, we're passionate about making travel and logistics easier, faster, and more efficient. As a leading logistics company, we specialize in providing innovative solutions for individuals and businesses alike.</p>
                        <p class="mb-4">Travel-Pro was founded on the idea that travel and logistics should be seamless and stress-free. Our team of experts has years of experience in the industry, and we've learned that every traveler and business has unique needs. That's why we tailor our services to meet your specific requirements, ensuring a personalized experience every time.</p>
                        <div class="row gy-2 gx-4 mb-4">
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Flight Booking</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Visa Assistance</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Travel Insurance</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Cargo Handling</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Warehousing</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Distribution</p>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <!-- Services Start -->
        <div class="container-fluid bg-light service py-5">
            <div class="container py-5">
                <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                    <h5 class="section-title px-3">Services</h5>
                    <h1 class="mb-0">Our Services</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="row g-4">
                            <div class="col-12">
                                <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                                    <div class="service-content text-end">
                                        <h5 class="mb-4">Cargo Handling</h5>
                                        <p class="mb-0">We specialize in handling cargo of all sizes, from small packages to large shipments, with care and efficiency.
                                        </p>
                                    </div>
                                    <div class="service-icon p-4">
                                        <i class="fa fa-box fa-4x text-primary"></i>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="col-12">
                                <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                                    <div class="service-content text-end">
                                        <h5 class="mb-4">Freight Forwarding</h5>
                                        <p class="mb-0">Our freight forwarding services ensure that your goods reach their destination quickly and safely, via air, land, or sea.
                                        </p>
                                    </div>
                                    <div class="service-icon p-4">
                                        <i class="fa fa-truck fa-4x text-primary"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                                    <div class="service-content text-end">
                                        <h5 class="mb-4">Warehousing</h5>
                                        <p class="mb-0">Our secure and spacious warehouses provide a safe and convenient storage solution for your goods.
                                        </p>
                                    </div>
                                    <div class="service-icon p-4">
                                        <i class="fa fa-warehouse fa-4x text-primary"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row g-4">
                            <div class="col-12">
                                <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0">
                                    <div class="service-icon p-4">
                                        <i class="fa fa-network-wired fa-4x text-primary"></i>
                                    </div>
                                    <div class="service-content">
                                        <h5 class="mb-4">Distribution</h5>
                                        <p class="mb-0">We offer reliable and efficient distribution services, ensuring that your products reach their intended destinations on time.
                                        </p>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="col-12">
                                <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0">
                                    <div class="service-icon p-4">
                                        <i class="fa fa-shopping-cart fa-4x text-primary"></i>
                                    </div>
                                    <div class="service-content">
                                        <h5 class="mb-4">Procurement</h5>
                                        <p class="mb-0">We source high-quality products and materials from trusted suppliers, ensuring that your business runs smoothly.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0">
                                    <div class="service-icon p-4">
                                        <i class="fa fa-route fa-4x text-primary"></i>
                                    </div>
                                    <div class="service-content">
                                        <h5 class="mb-4">Transportation Management</h5>
                                        <p class="mb-0">We coordinate and manage transportation services, ensuring that your goods are delivered efficiently and effectively.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <!-- Services End -->

      



   
        <!-- Tour Booking Start -->
        <div class="container-fluid booking py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <h5 class="section-booking-title pe-3">Booking</h5>
                        <h1 class="text-white mb-4">logistics services</h1>
                        <p class="text-white mb-4">At Travel-Pro, we understand that booking your travel and logistics services can be a daunting task. That's why we've made it our mission to provide a seamless and hassle-free booking experience for our customers. With our user-friendly online platform, you can search, compare, and book your desired services in just a few clicks.
                        </p>
                        <p class="text-white mb-4">
                            We understand that security is a top priority when it comes to online transactions. That's why we use the latest encryption technology to protect your personal and payment information. Our secure payment system ensures that your transaction is safe and protected, so you can book with confidence.                        
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <h1 class="text-white mb-3">Book Our Logistics Service</h1>
                        <p class="text-white mb-4">Book your travel and logistics services with Travel-Pro today</p>
                        <form>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control bg-white border-0" id="name" placeholder="Your Name">
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control bg-white border-0" id="email" placeholder="Your Email">
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating date" id="date3" data-target-input="nearest">
                                        <input type="text" class="form-control bg-white border-0" id="datetime" placeholder="Date & Time" data-target="#date3" data-toggle="datetimepicker" />
                                        <label for="datetime">Date & Time</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating date" id="date3" data-target-input="nearest">
                                        <input type="text" class="form-control bg-white border-0" id="datetime" placeholder="Destination" data-target="#date3" data-toggle="datetimepicker" />
                                        <label for="datetime">Destination</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating date" id="date3" data-target-input="nearest">
                                        <input type="text" class="form-control bg-white border-0" id="datetime" placeholder="Person" data-target="#date3" data-toggle="datetimepicker" />
                                        <label for="datetime">Person</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select class="form-select bg-white border-0" id="CategoriesSelect">
                                            <option value="1">Cargo Handling</option>
                                            <option value="2">Freight Forwarding</option>
                                            <option value="3">Warehousing</option>
                                            <option value="3">Distribution</option>
                                        </select>
                                        <label for="CategoriesSelect">Categories</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control bg-white border-0" placeholder="Special Request" id="message" style="height: 100px"></textarea>
                                        <label for="message">Special Request</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary text-white w-100 py-3" type="submit">Book Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tour Booking End -->

   


        <!-- Testimonial Start -->
        <div class="container-fluid testimonial py-5">
            <div class="container py-5">
                <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                    <h5 class="section-title px-3">Testimonial</h5>
                    <h1 class="mb-0">Our Clients Say!!!</h1>
                </div>
                <div class="testimonial-carousel owl-carousel">
                    <div class="testimonial-item text-center rounded pb-4">
                        <div class="testimonial-comment bg-light rounded p-4">
                            <p class="text-center mb-5">
                                Travel-Pro has been our trusted logistics partner for years. Their expertise in freight management, warehousing, and distribution has streamlined our supply chain, reducing costs and increasing efficiency.
                            </p>
                        </div>
                        <div class="testimonial-img p-1">
                            <img src="img/ship4.jpg" style="height: 90px; width: 90px;" class="img-fluid rounded-circle" alt="Image">
                        </div>
                        <div style="margin-top: -35px;">
                            <h5 class="mb-0">John Smith</h5>
                            <p class="mb-0">Chicago, USA</p>
                            <div class="d-flex justify-content-center">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item text-center rounded pb-4">
                        <div class="testimonial-comment bg-light rounded p-4">
                            <p class="text-center mb-5">
                                We were struggling with customs clearance and transportation issues until we partnered with Travel-Pro. Their knowledge of international regulations and logistics expertise has saved us time and money.
                            </p>
                        </div>
                        <div class="testimonial-img p-1">
                            <img src="img/ship1.jpg" style="height: 90px; width: 90px;" class="img-fluid rounded-circle" alt="Image">
                        </div>
                        <div style="margin-top: -35px;">
                            <h5 class="mb-0">Maria Rodriguez</h5>
                            <p class="mb-0">Mexico City, Mexico</p>
                            <div class="d-flex justify-content-center">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item text-center rounded pb-4">
                        <div class="testimonial-comment bg-light rounded p-4">
                            <p class="text-center mb-5">
                                Travel-Pro has helped us expand our reach into new markets with their comprehensive logistics solutions. Their network of warehouses and transportation services has enabled us to deliver products quickly and efficiently. 
                            </p>
                        </div>
                        <div class="testimonial-img p-1">
                            <img src="img/ship3.jpg" style="height: 90px; width: 90px;" class="img-fluid rounded-circle" alt="Image">
                        </div>
                        <div style="margin-top: -35px;">
                            <h5 class="mb-0">David Lee</h5>
                            <p class="mb-0">Singapore</p>
                            <div class="d-flex justify-content-center">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item text-center rounded pb-4">
                        <div class="testimonial-comment bg-light rounded p-4">
                            <p class="text-center mb-5">
                                Travel-Pro's warehousing and distribution services have been a game-changer for our business. Their facilities are secure, clean, and well-maintained, and their staff is professional and efficient.
                            </p>
                        </div>
                        <div class="testimonial-img p-1">
                            <img src="img/ship2.jpg" style="height: 90px; width: 90px;" class="img-fluid rounded-circle" alt="Image">
                        </div>
                        <div style="margin-top: -35px;">
                            <h5 class="mb-0"> Emily Chen</h5>
                            <p class="mb-0">Shanghai, China</p>
                            <div class="d-flex justify-content-center">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->

        <div class="container-fluid footer py-5">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-6 col-xl-4">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="mb-4 text-white">Get In Touch</h4>
                            <a href="/contact"><i class="fas fa-envelope me-2"></i> Travel-Pro@gmail.com</a>
                            <a href="/contact"><i class="fas fa-phone me-2"></i> +1 (626) 671-6495</a>
                            
                            
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="mb-4 text-white">Company</h4>
                            <a href="/about"><i class="fas fa-angle-right me-2"></i> About</a>
                            <a href="/shipment"><i class="fas fa-angle-right me-2"></i> Shippment</a>
                            <a href="/services"><i class="fas fa-angle-right me-2"></i> Services</a>
                            <a href="/"><i class="fas fa-angle-right me-2"></i> Home</a>
                            <a href="/contact"><i class="fas fa-angle-right me-2"></i> Order</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="mb-4 text-white">Support</h4>
                            <a href="/contact"><i class="fas fa-angle-right me-2"></i> Contact us</a>
                            <a href="/contact"><i class="fas fa-angle-right me-2"></i> Send us a Message</a>
                            <a href="/contact"><i class="fas fa-angle-right me-2"></i> Terms of service</a>
                            <a href="/"><i class="fas fa-angle-right me-2"></i> Cookie Privacy</a>
                           
                           
                        </div>
                    </div>
                   
                </div>
               
            </div>
            <div class="container-fluid"> 
                <p style="color:  white; text-align: center;">Copyright &copy; Travel-Pro Logistics <script>document.write(new Date().getFullYear());</script></p>

            </div>
        </div>


<!-- Footer End -->
        

        <!-- Back to Top -->
        <a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/lightbox/js/lightbox.min.js"></script>
        

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>

</html>